@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {background-color: #fff6ec;}

#sublogo {
        width: 30%;
}

header {margin-left: 20px;}

.intro {
        margin-top: 50px;
        padding: 30px 0 20px;
}

.intro h1, .intro p {
        margin: 0;
}

.intro p{
        margin: 10px;
}

section {margin-top: 20px; text-align: center;
        font-family: 'Jua', sans-serif; 
        border: 2px solid black; padding: 10px; border-radius: 10px;
        font-size: 20px; background-color: white;}

button {
        font-family: 'Jua', sans-serif; 
        font-size: 20px; width: 120px; 
        height: 70px; 
        border-radius: 10px;
        background-color: #fff8dc; 
}
div {margin: 20px;}

/* Tablet */
@media (min-width:768px){
        #sublogo {
            width: 25%;
        }

       button {
        font-size: 23px;
        padding: 15px;
       }
       
    }
    
    /* Desktop */
    @media (min-width:992px){
        #sublogo {
            width: 15%;
        }
    
       button {
        font-size: 23px;
        padding: 20px 0;
       }
    
    }