body{
    background-color: ivory;
}

.password{
    position: absolute;
    top: 40%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.password input { width: 2rem; height: 2rem;}

.password input ~ input { margin-left:.6rem;}

/*
.numpad{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    .button{font-size: 25px; width: 45px; height:45px;}
}
*/
