@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

header {margin-left: 20px;}

section {margin-top: 250px;}

body{
    background-color: #fff6ec;
    font-family: 'Jua', sans-serif; 
    font-size: 20px;
}

.title{
    position: absolute;
    top: 130px;
    left : 50%;
    transform: translate(-50%, -50%);
}

.password{
    margin-top: -130px;
}

.password input { width: 3.5rem; height: 3.5rem; border-radius: 10px;}

.password input ~ input { margin-left:.6rem;}


.numpad{
    margin-top: 100px;
    margin-left: 5%;
    .button{font-size: 30px; width: 60px; height:60px; border-radius: 10px;}
}

