@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

header {margin-left: 20px;}

section {position: relative; top: 50px; text-align: center;}

body{
    background-color: #fff6ec;
    font-family: 'Jua', sans-serif; 
    font-size: 20px;
}



.password{
    margin-top: -130px;
}

.password input { width: 3.5rem; height: 3.5rem; border-radius: 10px;}

.password input ~ input { margin-left:.6rem;}


.numpad{
    margin-top: 80px;
    margin-left: 5%;
    .button{font-size: 30px; width: 60px; height:60px; border-radius: 10px;}
}

.title{
    border: 2px solid black; padding: 10px; border-radius: 10px;
    font-size: 20px; background-color: white;
}

.game{
    margin-top: 20px; text-align: center;
    border: 2px solid black; padding: 10px; border-radius: 10px;
    font-size: 20px; background-color: white;
}

button {font-family: 'Jua', sans-serif; font-size: 15px; width: 80px; height: 30px; border-radius: 10px;}