@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-color: #fff6ec; 
    font-family: 'Jua', sans-serif;
}

#sublogo {
    width: 30%;
    margin: 6px 10px;
}

.content{
    text-align: center;
    font-size: 15px;

    position: absolute; top: 15%; left: 10%;
    width: 80%;
    height: 60%;
}

button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-family: 'Jua', sans-serif; 
    font-size: 20px; 
    background-color: #fff8dc; 
    border-radius: 10px;
    color: black;
}

/* Tablet */
@media (min-width:768px){
    #sublogo {
        width: 25%;
    }

   .content {
    font-size: 20px;
    top: 10%;
    width: 60%;
    left: 20%;
   }

   button {
    font-size: 23px;
    padding: 15px;
   }
}

/* Desktop */
@media (min-width:992px){
    #sublogo {
        width: 15%;
    }

   .content {
    width: 50%;
    top: 15%;
    left: 25%;
    font-size: 23px;
   }

   button {
    font-size: 23px;
    padding: 20px 0;
   }

}