@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-color: #fff6ec; 
    font-family: 'Jua', sans-serif;
}

header {margin-left: 20px;}

#sublogo {
    width: 30%;
}

.content{
    width: 80%;
    text-align: center;
    margin:15% auto;
    font-size: 15px;
}

button {
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-family: 'Jua', sans-serif; 
    font-size: 20px; 
    background-color: #fff8dc; 
    border-radius: 10px;
}

/* Tablet */
@media (min-width:768px){
    #sublogo {
        width: 25%;
    }

   .content {
    margin: 8% auto;
    font-size: 23px;
   }

   button {
    font-size: 23px;
    padding: 15px;
   }
}

/* Desktop */
@media (min-width:992px){
    #sublogo {
        width: 15%;
    }

   .content {
    margin: 8% auto;
    width: 60%;
    font-size: 23px;
   }

   button {
    font-size: 23px;
    padding: 20px 0;
   }

}