@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-color: #fff6ec; 
    font-family: 'Jua', sans-serif;
}


#sublogo {
    width: 30%;
    margin: 6px 10px;
}

input[id="menuicon"] {display:none;}
input[id="menuicon"] + label {display:block;margin:8px 30px;width:50px;height:40px;position:fixed; right: 0; top: 10px; transition: all .35s; cursor:pointer;}
input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:5px;border-radius:30px;background:#ffe056;transition:all .35s;}
input[id="menuicon"] + label span:nth-child(1) {top:0;}
input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);}
input[id="menuicon"] + label span:nth-child(3) {bottom:0;}
input[id="menuicon"]:checked + label {z-index:2; right: 300px;}
input[id="menuicon"]:checked + label span {background:#ffe056;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
div[class="sidebar"] {
    width:300px;height:100%;background:#fff8dc;position:fixed;top:0;right:-300px;z-index:1;transition:all .35s; margin: 0;}
input[id="menuicon"]:checked + label + div {right:0;} 

.sidebar a{
    font-family: 'Jua', sans-serif; 
    text-decoration: none; 
    line-height: 3em;
    color: black;
    font-size: 18px;
}
.sidebar a:hover{
    color: #ffe056;
}

.content{
    width: 80%;
    text-align: center;
    font-size: 15px;

    position: absolute; top: 30vh; left: 10%; right: 10%;
}

button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-family: 'Jua', sans-serif; 
    font-size: 20px; 
    background-color: #fff8dc; 
    border-radius: 10px;
}

.intro {
        border: 2px solid black;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        padding-top: 10px;
        margin: 5% auto;
        margin-bottom: 20px;
        padding: 20px;
}

.intro h1 {
        margin: 0 0 10px;
}

.intro p{
        margin: 0;
        line-height: 30px;
}

.game-content{
        border: 2px solid black;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        padding-top: 10px;
        margin: 10px auto;
        padding: 10px;
        padding-bottom: 15px;
}

#btn{
        text-align: center;
}

#btn button {
        width: 60px;
        height: 60px;
}

#count {
        font-size: 30px;
}

.theme {
        font-size: 18px;
        display: none;
}

.example {
        font-size: 25px;
        display: none;
}

/* Tablet */
@media (min-width:768px){
    #sublogo {
        width: 25%;
    }

   .content {
    top: 25vh;
    font-size: 23px;
   }

   button {
    font-size: 23px;
    padding: 15px;
   }

}

/* Desktop */
@media (min-width:992px){
    #sublogo {
        width: 15%;
    }

   .content {
    top: 30vh; left: 20%; right: 20%;
    width: 60%;
    font-size: 23px;
   }

   button {
    font-size: 23px;
    padding: 20px 0;
    color: black;
   }

}