@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-color: #fff6ec; 
    font-family: 'Jua', sans-serif;
}

header {margin-left: 20px;}

#sublogo {
    width: 30%;
}

.content{
    width: 80%;
    text-align: center;
    margin:40% auto;
    font-size: 15px;
}

button {
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-family: 'Jua', sans-serif; 
    font-size: 20px; 
    background-color: #fff8dc; 
    border-radius: 10px;
}

.intro {
        border: 2px solid black;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        padding-top: 10px;
        margin: 5% auto;
        margin-bottom: 20px;
        padding: 20px;
}

.intro h1 {
        margin: 0 0 10px;
}

.intro p{
        margin: 0;
        line-height: 30px;
}

.game-content{
        border: 2px solid black;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        padding-top: 10px;
        margin: 10px auto;
        padding: 10px;
        padding-bottom: 15px;
}

#btn{
        text-align: center;
}

#btn button {
        width: 60px;
        height: 60px;
}

#count {
        font-size: 30px;
}

.theme {
        font-size: 18px;
        display: none;
}

.example {
        font-size: 25px;
        display: none;
}

/* Tablet */
@media (min-width:768px){
    #sublogo {
        width: 25%;
    }

   .content {
    margin: 20% auto;
    font-size: 23px;
   }

   button {
    font-size: 23px;
    padding: 15px;
   }
   
}

/* Desktop */
@media (min-width:992px){
    #sublogo {
        width: 15%;
    }

   .content {
    margin: 15% auto;
    width: 60%;
    font-size: 23px;
   }

   button {
    font-size: 23px;
    padding: 20px 0;
   }

}