@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-color: #fff6ec; 
    font-family: 'Jua', sans-serif;
}

#sublogo {
    width: 30%;
    margin: 6px 10px;
}

.content { 
    border: 3px dotted; padding: 10px;
    background-color: #fff8dc;
    text-align: center;
    font-size: 15px;

    position: absolute; top: 25vh; left: 5%; right: 5%;
}

.content img {
    margin: 10px;
    width: 25%;
}

.content p{
    line-height: 30px;
}

.content span {
    color: lightcoral;
    margin-top: 30px;
}

/* Tablet */
@media (min-width:768px){
    #sublogo {
        width: 25%;
    }

    .content {
        font-size: 18px;
        top: 25vw;
    }

    .content img {
        width: 20%;
    }

}

/* Desktop */
@media (min-width:992px){
    #sublogo {
        width: 15%;
    }

    .content {
        font-size: 18px;
        top: 18vw;
    }

    .content img {
        width: 15%;
    }

}