@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {background-color: #fff6ec;}

#sublogo {
        width: 30%;
        margin: 6px 10px;
}


.title {margin-top: 20px; text-align: center;
        font-family: 'Jua', sans-serif; 
        border: 2px solid black; padding: 10px; border-radius: 10px;
        font-size: 20px; background-color: white;}

.game{
    margin-top: 20px; text-align: center;
        font-family: 'Jua', sans-serif; 
        border: 2px solid black; padding: 10px; border-radius: 10px;
        font-size: 20px; background-color: white;
}

button {
        font-family: 'Jua', sans-serif; 
        font-size: 20px;
        border-radius: 10px;
        background-color: #fff8dc; 
        padding: 10px 20px;
        color: black;
}

div {margin: 20px;}

/* Tablet */
@media (min-width:768px){
        #sublogo {
            width: 25%;
        }
    
    }
    
    /* Desktop */
    @media (min-width:992px){
        #sublogo {
            width: 15%;
        }
    
    }