@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

header {margin-left: 20px;}

section {position: relative; top: 0px; text-align: center;}

body{
    background-color: #fff6ec;
    font-family: 'Jua', sans-serif; 
    font-size: 20px;
}

.title{
    border: 2px solid black; padding: 10px; border-radius: 10px;
    font-size: 20px; background-color: white;
}

.game{
    margin-top: 20px; text-align: center;
    border: 2px solid black; padding: 10px; border-radius: 10px;
    font-size: 20px; background-color: white;
}

button {font-family: 'Jua', sans-serif; font-size: 20px; width: 120px; height: 70px; border-radius: 10px;}